# =============================
# API Keys
# =============================

AERODATABOX_API_KEY=
OPENWEATHER_API_KEY=

# =============================
# AWS Configuration
# =============================

AWS_DEFAULT_REGION=
AWS_S3_BUCKET=
AWS_S3_ADB_SOURCE=
AWS_S3_AIRPORTSINUSE_SOURCE=
AWS_S3_OPENWEATHER_SOURCE=

# If running locally without IAM role:
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=

# =============================
# Snowflake Configuration
# =============================

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_DATABASE=
SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DBT_SCHEMA=

# Snowflake Keypair Auth
SNOWFLAKE_PRIVATE_KEY_P8_B64=
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=

# Airflow Snowflake Connection (optional if using AIRFLOW_CONN_)
AIRFLOW_CONN_SNOWFLAKE_DEFAULT=

# =============================
# dbt Configuration
# =============================

DBT_PROJECT_DIR=
DBT_PROFILES_DIR=

# =============================
# Airflow
# =============================

AIRFLOW__WEBSERVER__SECRET_KEY=